# Ignore everything
*

# Whitelist subdirectories
!*/

# Whitelist the following extensions
!*.java
!*.gif
!*.png
!*.xslt
!*.xcf
!.gitignore
!*.html
!*.xsl
!lib/*
out/artifacts/petrinator_jar/tmp/GSPN_Analysis.html
!out/artifacts/petrinator_jar/petrinator.jar
